body[b-nfw7nv4ehx] {
}
#backDiv[b-nfw7nv4ehx] {
    position: absolute;
    top: 19%;
    right: 20%;
}

.dark-mode[b-nfw7nv4ehx] {
    background-color: #333 !important;
    color: #fff;
}

label[b-nfw7nv4ehx] {
    color: black;
}
