/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#backDiv[b-kbvnv9hzj2] {
    position: absolute;
    top: 19%;
    right: 20%;
}

