@model DAL_Data_Access_Layer_.CustomeModel.ConciergeCustom;
@{
    ViewData["Title"] = "Concierge Information";
}

<partial name="_Notification" />

<div class="offcanvas offcanvas-start show pop-up" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="mb-4"><i class="fa-solid fa-circle-exclamation fa-3x" style="color: #eeba2b; border: 1px solid #eeba2b;border-radius: 30px;padding: 2px;"></i></div>
    <h5 class="offcanvas-title title" id="offcanvasLabel">Information</h5>
    <div class="offcanvas-body font-size text-center">
        When submitting a request, you must provide the correct contact
        information for the patient or the respomsibly party. Failure to provide
        the correct email and phone number will delay service or be declined.
    </div>
    <button type="button" class="btn7" data-bs-dismiss="offcanvas" aria-label="Close">
        <span class="ok">Ok</span>
    </button>
</div>

<div class="row p-0 m-0" id="mainRow">
    <div class="col-12">
        <div class="col-sm-11 col-md-8 col-lg-8" style="margin: auto;">
            <div id="backDiv" class="mb-5 mt-5" style="text-align: end;">
                <a title="Forgot password" class="link-default ps-3" asp-controller="Patient" asp-action="SubmitRequest"
                   style="color: #09d4e3;text-decoration: none;font-weight: 600!important;border: 1px solid #09d4e3;border-radius: 8px;padding: 7px;">
                    <i class="fa-solid fa-chevron-left me-2" style="color: #09d4e3;"></i>Back
                </a>
            </div>
            <form method="post">
            <h4 class="h4Head">Concierge Information</h4>

            <div class="row ">
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="concierge_firstname" type="text" class="form-control" placeholder="Name">
                        <label asp-for="concierge_firstname">Your First Name</label>
                            <span asp-validation-for="concierge_firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="concierge_lastname" type="text" class="form-control" placeholder="Name">
                        <label asp-for="concierge_lastname">Your Last Name</label>
                            <span asp-validation-for="concierge_lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <input asp-for="concierge_phone" id="phone"
                           class="form-control contact"
                           aria-label="Contact"
                               type="number"
                            />
                        <span asp-validation-for="concierge_phone" class="text-danger"></span>
                </div>
                <div class=" mt-3 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-floating">
                        <input asp-for="concierge_email" type="email" class="form-control" placeholder="Name">
                        <label asp-for="concierge_email">Your Email</label>
                            <span asp-validation-for="concierge_email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="concierge_hotelname" type="text" class="form-control" placeholder="Name">
                        <label asp-for="concierge_hotelname">Hotel/Property Name</label>
                            <span asp-validation-for="concierge_hotelname" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <h4 class="mt-5 h4Head">Concierge Location</h4>

            <div class="row ">
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="concierge_street" type="text" class="form-control" placeholder="Name">
                        <label asp-for="concierge_street">Street</label>
                            <span asp-validation-for="concierge_street" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="concierge_city" type="text" class="form-control" placeholder="Name">
                        <label asp-for="concierge_city">City</label>
                            <span asp-validation-for="concierge_city" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="concierge_state" type="text" class="form-control" placeholder="Name">
                        <label asp-for="concierge_state">State</label>
                            <span asp-validation-for="concierge_state" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="concierge_zipcode" type="text" class="form-control" placeholder="Name">
                        <label asp-for="concierge_zipcode">Zip code</label>
                            <span asp-validation-for="concierge_zipcode" class="text-danger"></span>
                    </div>
                </div>

            </div>


            <h4 class="mt-5 h4Head">Patient Information</h4>
            <div class="row">
                <div class="form-floating mt-3 col-12" style="overflow: hidden;">
                    <textarea asp-for="symptoms" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                              style="height: 130px;"></textarea>
                    <label asp-for="symptoms" for="floatingTextarea" class="ms-2">Enter Brief Details Of Symptoms(Optional)</label>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="firstname" type="text" class="form-control" placeholder="Name">
                        <label asp-for="firstname">First Name</label>
                            <span asp-validation-for="firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input asp-for="lastname" type="text" class="form-control" placeholder="Name">
                        <label asp-for="lastname">Last Name</label>
                            <span asp-validation-for="lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                            <input id="DateOfBirth" asp-for="dateofbirth" type="date" class="form-control" placeholder="Name">
                        <label asp-for="dateofbirth">Date of Birth</label>
                            <span asp-validation-for="dateofbirth" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <h4 class="mt-5 h4Head">Patient Contact Information</h4>

            <div class="row ">
                <div class=" mt-3 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-floating">
                        <input asp-for="email" type="email" class="form-control" placeholder="Name">
                        <label asp-for="email">Email</label>
                            <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <input asp-for="phone" id="phone2"
                           class="form-control contact"
                           aria-label="Contact"
                               type="number"
                           />
                        <span asp-validation-for="phone" class="text-danger"></span>
                </div>
            </div>


            <h4 class="mt-5 h4Head">Patient Location</h4>

            <div class="mt-3 col-sm-6 col-md-6">
                <div class="form-floating">
                    <input asp-for="room"  type="text" class="form-control" >
                    <label asp-for="room">Room # / Suite (Optional)</label>
                </div>
            </div>
          
            <div class="mt-5 d-flex justify-content-end">
                <div id="backDivTwo" class="me-2">
                    <button type="submit" title="Forgot password" class="link-default ps-3"
                       style="color: #09d4e3;text-decoration: none;font-weight: 600!important;border: 1px solid #09d4e3;border-radius: 8px;padding: 7px;">Submit</button>
                </div>
                <div id="backDivThree">
                        <button type="button" onclick="clearAll()" title="Forgot password" class="link-default ps-3"
                       style="color: #09d4e3;text-decoration: none;font-weight: 600!important;border: 1px solid #09d4e3;border-radius: 8px;padding: 7px;">Cancel</button>
                </div>
            </div>

            </form>
        </div>

    </div>
</div>


@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
            }

<link rel="stylesheet" href="/css/Concierge.css">



<script>

    const phoneInputPatient = document.querySelector("#phone");
    const phoneInputP = window.intlTelInput(phoneInputPatient, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });


    const phoneInputPH = document.querySelector("#phone2");
    const phoneInputH = window.intlTelInput(phoneInputPH, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    // function popUpClick() {
    //     // document.getElementById("mainRow").style.backgroundColor = "white"
    //     document.getElementById("mainRow").style.opacity = "1"
    //     document.getElementById("popUp").style.display = "none"
    // }

    //date validation
    const currentDate = new Date().toISOString().split('T')[0];

    document.getElementById('DateOfBirth').setAttribute('max', currentDate);

    function clearAll() {
        let a = document.getElementsByTagName("input")
        for (let i = 0; i < a.length; i++) {
            a[i].value = "";
        }

        let b = document.getElementsByTagName("textarea")
        for (let i = 0; i < b.length; i++) {
            b[i].value = "";
        }
    }


</script>