@{
    ViewData["Title"] = "Submit Request Page";
}

<div class="d-flex flex-column " id="mainDown">
    <div >
        <div style="text-align: center;" class="mb-3">
            <h4 class="h2 mt-5" id="mainText">I am a...</h4>
        </div>
       
         <div id="backDiv" >
            <a title="Forgot password" class="link-default ps-3" asp-controller="Home" asp-action="Index"
                style="color: #09d4e3;text-decoration: none;font-weight: 600!important;border: 1px solid #09d4e3;border-radius: 8px;padding: 7px;"><i
                    class="fa-solid fa-chevron-left me-2" style="color: #09d4e3;"></i>Back</a>
        </div>
    </div>
    
    <div class="login-button mb-3 mt-2" >
        <a class="btn btn-primary mb-3 " asp-controller="Patient" asp-action="patientInfo"
           style="background-color: rgba(109, 66, 227,0.2);width: 100%;border-radius: 1;border: 1px solid #6d42e3;text-align:start" id="firstDiv">
            <span style="color: #6d42e3;" class="h5">PATIENT</span>
        </a>
    </div>
    <div class="login-button mb-3">
        <a class="btn btn-primary mb-3" asp-controller="Patient" asp-action="FamilyFriendInfo"
           style="background-color: rgba(92, 196, 237,0.2);width: 100%;border-radius: 1;border: 1px solid #05b8ff;text-align:start" id="secondDiv">
            <span style="color: #5cc4ed;" class="h5">FAMILY/FRIEND</span>
        </a>
    </div>
    <div class="login-button mb-3">
        <a class="btn btn-primary mb-3" asp-controller="Patient" asp-action="ConciergeInfo"
           style="background-color: rgba(17, 209, 158,0.2);width: 100%;border-radius: 1;border: 1px solid #0d9e77;text-align:start" id="thirdDiv">
            <span style="color: #0d9e77;" class="h5">CONCIERGE</span>
        </a>
    </div>
    <div class="login-button mb-3">
        <a class="btn btn-primary mb-3" asp-controller="Patient" asp-action="BusinessInfo"
           style="background-color: rgba(232, 16, 203,0.2);width: 100%;border-radius: 1;border: 1px solid #e810cb;text-align:start" id="fourthDiv">
            <span style="color: #e810cb;" class="h5">BUSINESS PARTNERS</span>
        </a>
    </div>
</div>

<link rel="stylesheet" href="~/css/SubmitRequest.css" asp-append-version="true" />