@model DAL_Data_Access_Layer_.DataModels.Aspnetuser;

@{
    ViewData["Title"] = "Login Page";
}

<div class="row" style="justify-content: center;">
<div id="darkMode" style="z-index: 2;">
    <i class="fa-regular fa-moon fa-2x me-5 p-1 mt-5"
       style="color: #09d4e3;border: 1px solid #09d4e3;border-radius: 4px;position: absolute;right: 0;"
       onclick="darkMode()" id="darkmodeBtn"></i>
</div>
<div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12" style="height: 100vh;" id="mainDiv">
    <div class="rightLogin  col-sm-10 col-md-10 col-lg-6 col-xl-6">
        <div class="mb-5 d-none d-md-block"><img src="/images/docLogo.png" alt="reload"></div>
        <div id="rightIn">
            <div id="loginBack">
                <div style="width: 45%;" class="mb-3 mt-5">
                    <a title="Forgot password" class="link-default ps-3" asp-controller="Home" asp-action="Index"
                       style="color: #09d4e3;text-decoration: none;font-weight: 600!important;">
                        <i class="fa-solid fa-chevron-left me-2" style="color: #09d4e3;"></i>Back
                    </a>
                </div>
                <div>
                    <h4 id="loginHeading" class="ps-3 h2">Login To Your Acoount</h4>
                </div>
            </div>
            <form class="login-form-control" id="formMain" method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Email" type="email" class="form-control" id="floatingInput"
                           placeholder="name@example.com"
                           style="background: transparent;border: 1px solid gray;">
                        <label asp-for="Email" for="floatingInput">Email</label>
                    <button class="btn show-password" type="button">
                        <img src="/images/person-circle-outline.svg" alt="password">
                    </button>
                </div>
                <div class="form-floating mb-3" style="position: relative;">
                        <input asp-for="Passwordhash" type="password" class="form-control" id="floatingPassword" placeholder="Password"
                           style="background: transparent;border: 1px solid gray;">
                        <label asp-for="Passwordhash" for="floatingPassword">Password</label>
                    <button class="btn show-password" type="button" id="userBtn">
                        <i class="fa-regular fa-eye" onclick="passwordVisible()"
                           id="passHide"></i>
                    </button>
                </div>
                <div class="login-button mb-5">
                    <button type="submit" class="btn btn-primary mb-3"
                       style="background-color: #09d4e3;border: 0;padding: 10px 0px;width:100%">Login</button>
                        <p style="color:red;font-size:1.2rem!important;">@ViewBag.LoginMessage</p>
                    <a title="Forgot password" class="link-default" asp-controller="Login" asp-action="ForgotPage"
                       style="color: #09d4e3;text-decoration: none;font-weight: 600!important;">
                        Forgot
                        Password?
                    </a>
                </div>
                </form>

            </div>
        <div class="mt-5" id="footerDiv">
            <div class="me-3">Terms of Conditions</div>
            <div style="border-left: 1px solid gray;" class="ps-3">Privacy Policy</div>
        </div>
    </div>
</div>
</div>

<link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true" />


<script>


    function passwordVisible() {
        let a = document.getElementById("passHide")
        console.log(a)
        if (a.classList.contains("fa-eye")) {
            a.classList.remove("fa-eye")
            a.classList.add("fa-eye-slash")
        } else {
            a.classList.remove("fa-eye-slash")
            a.classList.add("fa-eye")
        }

        var x = document.getElementById("floatingPassword");
        if (x.type === "password") {
            x.type = "text";
            console.log("hi1")
        } else {
            x.type = "password";
            console.log("hi2")
        }
    }

    function login() {
        let x = document.getElementById("floatingInput").value
        let y = document.getElementById("floatingPassword").value
        let invalidEmail = document.getElementById("floatingInput")
        let invalidPassword = document.getElementById("floatingPassword")
        let email = "shiv"
        let password = "123"
        console.log(x)
        if (x == email && y == password) {
            console.log("success")
            window.location.href = '@Url.Action("Index","Home")';
        } else if (x != email && y != password) {
            invalidEmail.classList.add("invalidEmail")
            invalidPassword.classList.add("invalidPassword")
        } else if (invalidEmail.classList.contains("invalidEmail")) {
            invalidEmail.classList.remove("invalidEmail")
            invalidPassword.classList.remove("invalidPassword")
        } else if (x != email) {
            invalidEmail.classList.add("invalidEmail")
        } else if (invalidPassword.classList.contains("invalidPassword")) {
            invalidEmail.classList.remove("invalidEmail")
            invalidPassword.classList.remove("invalidPassword")
        } else {
            invalidPassword.classList.add("invalidPassword")
        }
    }

</script>