@{
    ViewData["Title"] = "Concierge Information";
}

<div id="popUp" style="background-color: white;width: 29%;z-index: 3;height: 40%;top: 33%;position: fixed;display: flex;flex-direction: column;justify-content: center;align-items: center;border-radius: 14px;">
    <div class="mb-4"><i class="fa-solid fa-circle-exclamation fa-3x" style="color: #eeba2b; border: 1px solid #eeba2b;border-radius: 30px;padding: 2px;"></i></div>
    <div class="h3 mb-4">Information</div>
    <div class="mb-4" style="width: 80%;text-align: center;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque reprehenderit est doloribus maiores ullam iure magni consectetur rem quae delectus natus omnis, dolores blanditiis quo ipsum quod cupiditate exercitationem iste!</div>
    <div><button onclick="popUpClick()" type="button" class="btn btn-primary" style="font-size: 17px;padding: 5px 21px;">OK</button></div>
</div>
<div class="row p-0 m-0" id="mainRow">
    <div class="col-12">
        <div class="col-sm-11 col-md-8 col-lg-8" style="margin: auto;">
            <div id="backDiv" class="mb-5 mt-5" style="text-align: end;">
                <a title="Forgot password" class="link-default ps-3" asp-controller="Home" asp-action="SubmitRequest"
                   style="color: #09d4e3;text-decoration: none;font-weight: 600!important;border: 1px solid #09d4e3;border-radius: 8px;padding: 7px;">
                    <i class="fa-solid fa-chevron-left me-2" style="color: #09d4e3;"></i>Back
                </a>
            </div>
            <h4 class="h4Head">Concierge Information</h4>

            <div class="row ">
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>Your First Name</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>Your Last Name</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <input id="phone"
                           class="form-control contact"
                           aria-label="Contact"
                           type="tel"
                           name="phone" />
                </div>
                <div class=" mt-3 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" placeholder="Name">
                        <label>Your Email</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>Hotel/Property Name</label>
                    </div>
                </div>
            </div>
            <h4 class="mt-5 h4Head">Concierge Location</h4>

            <div class="row ">
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>Street</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>City</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>State</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>Zip code</label>
                    </div>
                </div>

            </div>


            <h4 class="mt-5 h4Head">Patient Information</h4>
            <div class="row">
                <div class="form-floating mt-3 col-12" style="overflow: hidden;">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                              style="height: 130px;"></textarea>
                    <label for="floatingTextarea" class="ms-2">Enter Brief Details Of Symptoms(Optional)</label>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>First Name</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Name">
                        <label>Last Name</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <div class="form-floating">
                        <input type="date" class="form-control" placeholder="Name">
                        <label>Date of Birth</label>
                    </div>
                </div>
            </div>

            <h4 class="mt-5 h4Head">Patient Contact Information</h4>

            <div class="row ">
                <div class=" mt-3 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" placeholder="Name">
                        <label>Email</label>
                    </div>
                </div>
                <div class="mt-3 col-sm-6 col-md-6">
                    <input id="phone2"
                           class="form-control contact"
                           aria-label="Contact"
                           type="tel"
                           name="phone" />
                </div>
            </div>


            <h4 class="mt-5 h4Head">Patient Location</h4>

            <div class="mt-3 col-sm-6 col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Name" pattern="[0-9]{6}"
                           title="Five digit zip code" />
                    <label>Room # / Suite (Optional)</label>
                </div>
            </div>

            <div class="mt-5 d-flex justify-content-end">
                <div id="backDivTwo" class="me-2">
                    <a href="#" title="Forgot password" class="link-default ps-3"
                       style="color: #09d4e3;text-decoration: none;font-weight: 600!important;border: 1px solid #09d4e3;border-radius: 8px;padding: 7px;">Submit</a>
                </div>
                <div id="backDivThree">
                    <a href="#" title="Forgot password" class="link-default ps-3"
                       style="color: #09d4e3;text-decoration: none;font-weight: 600!important;border: 1px solid #09d4e3;border-radius: 8px;padding: 7px;"></i>Cancel</a>
                </div>
            </div>
        </div>


    </div>
</div>

<link rel="stylesheet" href="/css/Concierge.css">



<script>

    const phoneInputPatient = document.querySelector("#phone");
    const phoneInputP = window.intlTelInput(phoneInputPatient, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });


    const phoneInputPH = document.querySelector("#phone2");
    const phoneInputH = window.intlTelInput(phoneInputPH, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    function popUpClick() {
        document.getElementById("mainRow").style.backgroundColor = "white"
        document.getElementById("mainRow").style.opacity = "1"
        document.getElementById("popUp").style.display = "none"
    }



</script>