@model IEnumerable<HelloDocMVC.DataModels.Aspnetrole>;
@{
    ViewData["Title"] = "Privacy Policy";
}


<table border="1">
    <tr style="border:1px solid black">
        <th style="border:1px solid black"> id</th>
        <th style="border:1px solid black">name</th>
    </tr>


    @{
        foreach(var item in Model)
        {
            <tr style="border:1px solid black">
                <td style="border:1px solid black">@item.Id</td>
                <td style="border:1px solid black"> @item.Name</td>
            </tr>
        }
    }
</table>