@* @model DAL_Data_Access_Layer_.CustomeModel.adminDashData; *@

@{
    ViewData["Title"] = "Close Case";
}

<div class="container p-sm-2 p-md-5">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div class=" mt-2 d-flex justify-content-between align-items-center">
                <h4>Close Case</h4>
                <a asp-controller="Admin" asp-action="Admin_Dashboard"
                    class="btn shadow  btn-outline-secondary border-info text-info px-3 ">
                    <i class="fa-solid fa-angle-left"></i> Back
                </a>
            </div>

            <div class="container-fluid shadow border rounded mt-3 px-4 mb-5 pb-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="text-secondary pt-3 ">Patient Name</div>
                        <span class="text-info fs-4">Saumil Parekh</span> <span class=" text-secondary">
                            (Confirmation No.)
                        </span>
                    </div>
                    <div>
                        <button type="submit" id="CreateInvoice" class="btn btn-outline-secondary border-info text-info">Create Invoice Through QuickBooks</button>
                    </div>
                </div>
                <h5 class="mb-4 pt-2">Documents</h5>
                <div class="table-responsive">
                    <table class="table ">
                        <thead class="bg-body-tertiary ">
                            <thead>
                                <tr style="background-color: rgb(219, 219, 219);">
                                    <th style="background: transparent;">
                                        <span class="ms-5" style="visibility: hidden;">Document</span>
                                    </th>
                                    <th style="background: transparent;">Upload Date</th>
                                    <th style="background: transparent;">Actions</th>
                                </tr>
                            </thead>
                        @* <tbody>
                                @foreach (var obj in Model.GetViewUploads.docs)
                                {
                                <tr class="align-middle">
                                    <td class="first-col">
                                        <input type="checkbox" name="Mark" class="checkbox fileCheckbox"
                                            onchange="allCheck()" /><span class="document-combo ms-5">
                                                @if (obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "xlsx" ||
                                               obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "xls")
                                                {
                                                <i class="bi text-danger fs-5 bi-file-earmark-excel-fill"></i>
                                                }
                                                else if (obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "pdf")
                                                {
                                                <i class="bi text-danger fs-5 bi-file-earmark-pdf-fill"></i>
                                                }
                                                else if (obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "doc" ||
                                                obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "docx")
                                                {
                                                <i class="bi text-danger fs-5 bi-file-earmark-word-fill"></i>
                                                }
                                                else if (obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "jpg" ||
                                                obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "jpeg"
                                                || obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "png" ||
                                                obj.Document.Split(".")[obj.Document.Split(".").Length - 1] == "svg")
                                                {
                                                <i class="bi text-danger fs-5 bi-file-earmark-image-fill"></i>
                                                }
                                                else
                                                {
                                                <i class="bi text-danger fs-5 bi-file-earmark-fill"></i>
                                                }
                                            <span class="document-name mx-2">@obj.Document</span>
                                        </span>
                                    </td>
                                    <td>@obj.CreatedDate.Date.ToString("MMM dd, yyyy")</td>
                                    <td>
                                        <a href="~/Documents/@obj.Document" download="@obj.Document" type="button"
                                            class="btn download-btn border-info text-info">
                                            <i class="bi bi-cloud-arrow-down"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                        </tbody> *@
                    </table>
                </div>
                <div class="mt-3">
                    <h5 class="mb-4 pt-2">Patient Information</h5>
                    <div class="row intext">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" class=" form-control" id="floatingInputFirst"
                            placeholder="First Name" disabled aria-label="First Name" />
                        <label class="ms-2 text-secondary" for="floatingInputFirst">First Name</label>
                        <span @* asp-validation-for="FirstName" *@ class="text-danger"></span> 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-floating mb-3">
                        <input type="text" class=" form-control" id="floatingInputLast" disabled placeholder="Last Name"
                            aria-label="Last Name" />
                        <label class="ms-2 text-secondary" for="floatingInputLast">Last Name</label>
                         <span @* asp-validation-for="LastName" *@ class="text-danger"></span> 
                        </div>
                    </div>
                    <div class="row intext">
                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input type="date" class="form-control " id="floatingInputdate" disabled placeholder="02-10-2002">
                            <label for="floatingInputdate" class="ms-2 text-secondary ">Date of Birth</label>
                        </div>

                        <div class="form-floating mb-3 col-12 col-sm-5">
                            <input type="tel" class="phone form-control dclass" id="phone" style="height: 58px;"
                                placeholder="1234567890">
                        </div>

                        <div class="form-floating mb-3 col-12 col-sm-1 ">
                            <button type="button" class="dclass btn btn-outline-dark border-info p-3 text-info w-100"
                                style="height: 100%;">
                                <i class="bi bi-telephone"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-3 intext">
                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input type="email" class="form-control emailInp dclass" id="floatingInput1" mailto:placeholder="test@google.com">
                            <label for="floatingInput" class="ms-2 text-secondary">Email</label>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end mt-4 pt-4 mb-3">
                    <button type="button" id="editBtn" class="btn btn-info text-white EditBtn" onclick="enableFields()">Edit </button>
                    <button type="button" id="cancelBtn" class="btn btn-outline-info EditBtn" onclick="disableFields()">Cancel</button> 
                    <button type="submit" id="submitBtn" class="btn btn-info text-white EditBtn">Save</button>
                    <button type="button" id="CloseCaseBtn" class="btn btn-outline-secondary border-info text-info">Close Case</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function disableFields() {
        document.querySelectorAll('.dclass').forEach(function (element) {
            element.disabled = true;
        });
        // Hide the submit and cancel buttons, show the edit button
        document.getElementById('submitBtn').style.display = 'none';
        document.getElementById('cancelBtn').style.display = 'none';
        document.getElementById('editBtn').style.display = 'block';
        document.getElementById('CloseCaseBtn').style.display = 'block';
    }

    function enableFields() {
        document.querySelectorAll('.dclass').forEach(function (element) {
            element.disabled = false;
        });
        // Show the submit and cancel buttons, hide the edit button
        document.getElementById('submitBtn').style.display = 'block';
        document.getElementById('cancelBtn').style.display = 'block';
        document.getElementById('editBtn').style.display = 'none';
        document.getElementById('CloseCaseBtn').style.display = 'none';
    }
    disableFields();
</script>