

<div class="tab-pane fade show active show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
     tabindex="0">
    <div class="container-fluid">
        <div class="row nav" id="myTab" role="tablist">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4 mb-3 nav-item" role="presentation">
                <div class="border rounded p-1 p-sm-3 active new" id="new-tab" data-bs-toggle="tab"
                     data-bs-target="#new-tab-pane" type="button" role="tab" aria-controls="new-tab-pane"
                     aria-selected="true">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-circle px-1 d-md-block d-none"></i>
                        <h6 class="px-1 m-0">New</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>1452</h4>
                    </div>
                </div>
                <div class="triangle " id="triangle1"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation">
                <div class="border rounded p-1 p-sm-3 Pending" id="Pending-tab" data-bs-toggle="tab"
                     data-bs-target="#Pending-tab-pane" type="button" role="tab" aria-controls="Pending-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-circle px-1 d-md-block d-none"></i>
                        <h6 class="px-1 m-0">Pending</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>266</h4>
                    </div>
                </div>
                <div class="triangle " id="triangle2"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation">
                <div class="border rounded p-1 p-sm-3 Active" id="Active-tab" data-bs-toggle="tab"
                     data-bs-target="#Active-tab-pane" type="button" role="tab" aria-controls="Active-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-circle px-1 d-md-block d-none"></i>
                        <h6 class="px-1 m-0">Active</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>26</h4>
                    </div>
                </div>
                <div class="triangle " id="triangle3"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation">
                <div class="border rounded p-1 p-sm-3 Conclude" id="Conclude-tab" data-bs-toggle="tab"
                     data-bs-target="#Conclude-tab-pane" type="button" role="tab" aria-controls="Conclude-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-circle px-1 d-md-block d-none"></i>
                        <h6 class="px-1 m-0">Conclude</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>1078</h4>
                    </div>
                </div>
                <div class="triangle " id="triangle4"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation">
                <div class="border rounded p-1 p-sm-3 ToClose" id="ToClose-tab" data-bs-toggle="tab"
                     data-bs-target="#ToClose-tab-pane" type="button" role="tab" aria-controls="ToClose-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-circle px-1 d-md-block d-none"></i>
                        <h6 class="px-1 m-0">To Close</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>519</h4>
                    </div>
                </div>
                <div class="triangle " id="triangle5"></div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 mb-3 col-4" role="presentation">
                <div class="border rounded p-1 p-sm-3 Unpaid" id="Unpaid-tab" data-bs-toggle="tab"
                     data-bs-target="#Unpaid-tab-pane" type="button" role="tab" aria-controls="Unpaid-tab-pane"
                     aria-selected="false">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-circle px-1 d-md-block d-none"></i>
                        <h6 class="px-1 m-0">Unpaid</h6>
                    </div>
                    <div class="ps-1 pt-3">
                        <h4>16</h4>
                    </div>
                </div>
                <div class="triangle " id="triangle6"></div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <h5>Patients (New)</h5>
            <div class="d-flex">
                <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-sm-2 p-1 align-items-center text-light">
                    <i class="bi bi-send"></i><span class="d-md-block d-none px-2 ">Send Link</span>
                </button>
                <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
                    <i class="bi bi-send"></i><span class="d-md-block d-none px-2 ">Create Request</span>
                </button>
                <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
                    <i class="bi bi-send"></i><span class="d-md-block d-none px-2 ">Export</span>
                </button>
                <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
                    <i class="bi bi-send"></i><span class="d-md-block d-none px-2 ">Export All</span>
                </button>
                <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
                    <i class="bi bi-send"></i><span class="d-md-block d-none px-2 ">Request DTY Support</span>
                </button>
            </div>
        </div>
    </div>

    <div class="mt-2 mb-2 container-fluid">
        <div class="d-md-flex justify-content-between align-items-center gap-2">

            <div class="d-md-flex gap-1">
                <form role="search" class="mb-2">
                    <!-- <i class="bi bi-search"></i> -->
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>
                <!-- Example split danger button -->

                <select class="form-select mb-2" aria-label="Default select example">
                    <option selected>All Region</option>
                    <option value="1">Singapore</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="d-flex gap-2 align-items-center mb-2">
                <button class="btn btn-outline-secondary d-none d-md-block">All</button>
                <div class="d-md-flex gap-1 mx-auto text-center align-items-center">
                    <i class="bi bi-circle-fill text-success"></i>
                    <div>Patient</div>
                </div>
                <div class="d-md-flex gap-1 mx-auto text-center align-items-center">
                    <i class="bi bi-circle-fill"></i>
                    <div>Patient</div>
                </div>
                <div class="d-md-flex gap-1 mx-auto text-center align-items-center">
                    <i class="bi bi-circle-fill"></i>
                    <div>Patient</div>
                </div>
                <div class="d-md-flex gap-1 mx-auto text-center align-items-center">
                    <i class="bi bi-circle-fill"></i>
                    <div>Patient</div>
                </div>
                <div class="d-md-flex gap-1 mx-auto text-center align-items-center">
                    <i class="bi bi-circle-fill"></i>
                    <div>Vip</div>
                </div>
            </div>

        </div>

        <div class="tab-content" id="myTabContent1">
            <div class="tab-pane fade show active" id="new-tab-pane" role="tabpanel" aria-labelledby="new-tab"
                 tabindex="0">
                <div class="table-responsive d-none d-sm-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Date Of Birth</th>
                                <th scope="col">Requestor</th>
                                <th scope="col">Requested date</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Chat With</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="Pending-tab-pane" role="tabpanel" aria-labelledby="Pending-tab" tabindex="0">
                <div class="table-responsive d-none d-sm-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Date Of Birth</th>
                                <th scope="col">Requestor</th>
                                <th scope="col">Physician Name</th>
                                <th scope="col">Date Of Service</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Chat With</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="Active-tab-pane" role="tabpanel" aria-labelledby="Active-tab" tabindex="0">
                <div class="table-responsive d-none d-sm-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Date Of Birth</th>
                                <th scope="col">Requestor</th>
                                <th scope="col">Physician Name</th>
                                <th scope="col">Date Of Service</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Chat With</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="Conclude-tab-pane" role="tabpanel" aria-labelledby="Conclude-tab"
                 tabindex="0">
                <div class="table-responsive d-none d-sm-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Date Of Birth</th>
                                <th scope="col">Physician Name</th>
                                <th scope="col">Date Of Service</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">Chat With</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="ToClose-tab-pane" role="tabpanel" aria-labelledby="ToClose-tab" tabindex="0">
                <div class="table-responsive d-none d-sm-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Date Of Birth</th>
                                <th scope="col">Region</th>
                                <th scope="col">Physician Name</th>
                                <th scope="col">Date Of Service</th>
                                <th scope="col">Address</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Chat With</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="Unpaid-tab-pane" role="tabpanel" aria-labelledby="Unpaid-tab" tabindex="0">
                <div class="container-fluid d-none d-sm-block">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Physican Name</th>
                                <th scope="col">Date of Service</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                                <th scope="col">Chat with</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("new-tab").addEventListener('click', function () {
        if (document.getElementById("new-tab").classList.contains("active")) {
            document.getElementById("triangle1").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
        }
    })
    document.getElementById("Pending-tab").addEventListener('click', function () {
        if (document.getElementById("Pending-tab").classList.contains("active")) {
            document.getElementById("triangle2").style.display = "block"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
        }
    })
    document.getElementById("Active-tab").addEventListener('click', function () {
        if (document.getElementById("Active-tab").classList.contains("active")) {
            document.getElementById("triangle3").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
        }
    })
    document.getElementById("Conclude-tab").addEventListener('click', function () {
        if (document.getElementById("Conclude-tab").classList.contains("active")) {
            document.getElementById("triangle4").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
        }
    })
    document.getElementById("ToClose-tab").addEventListener('click', function () {
        if (document.getElementById("ToClose-tab").classList.contains("active")) {
            document.getElementById("triangle5").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
            document.getElementById("triangle6").style.display = "none"
        }
    })
    document.getElementById("Unpaid-tab").addEventListener('click', function () {
        if (document.getElementById("Unpaid-tab").classList.contains("active")) {
            document.getElementById("triangle6").style.display = "block"
            document.getElementById("triangle2").style.display = "none"
            document.getElementById("triangle3").style.display = "none"
            document.getElementById("triangle4").style.display = "none"
            document.getElementById("triangle5").style.display = "none"
            document.getElementById("triangle1").style.display = "none"
        }
    })
</script>
@* <script>
    function handleTabClick(tabId, triangleId) {
        var tabs = document.querySelectorAll(".tab");
        var triangles = document.querySelectorAll(".triangle");
        triangles.forEach(function (triangle) {
            triangle.style.display = "none";
        });
        document.getElementById(triangleId).style.display = "block";
        tabs.forEach(function (tab) {
            tab.classList.remove("active");
        });
        document.getElementById(tabId).classList.add("active");
    }
    document.getElementById("new-tab").addEventListener('click', function () {
        handleTabClick("new-tab", "triangle1");
    });
    document.getElementById("Pending-tab").addEventListener('click', function () {
        handleTabClick("Pending-tab", "triangle2");
    });
    document.getElementById("Active-tab").addEventListener('click', function () {
        handleTabClick("Active-tab", "triangle3");
    });
    document.getElementById("Conclude-tab").addEventListener('click', function () {
        handleTabClick("Conclude-tab", "triangle4");
    });
    document.getElementById("ToClose-tab").addEventListener('click', function () {
        handleTabClick("ToClose-tab", "triangle5");
    });
    document.getElementById("Unpaid-tab").addEventListener('click', function () {
        handleTabClick("Unpaid-tab", "triangle6");
    });
</script> *@