<style>
   #dayHeading > td{
        background: grey;
        color: white;
   }    
    
</style>

<div id="daycontainer">
    <div class="schedule">
        <table class="table table-hover table-responsive employee-schedules w-100">
            <thead class="employee-schedules-thead thead-dark">
                <tr id="dayHeading">
                    <td>Staff</td>
                    <td>12A</td>
                    <td>1A</td>
                    <td>2A</td>
                    <td>3A</td>
                    <td>4A</td>
                    <td>5A</td>
                    <td>6A</td>
                    <td>7A</td>
                    <td>8A</td>
                    <td>9A</td>
                    <td>10A</td>
                    <td>11A</td>
                    <td>12P</td>
                    <td>1P</td>
                    <td>2P</td>
                    <td>3P</td>
                    <td>4P</td>
                    <td>5P</td>
                    <td>6P</td>
                    <td>7P</td>
                    <td>8P</td>
                    <td>9P</td>
                    <td>10P</td>
                    <td>11P</td>
                </tr>
                <tr class="Coverage">
                    <th>Coverage</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </thead>
            <tbody class="employee-schedules-table">
            </tbody>
        </table>
    </div>
</div>


