@model DAL_Data_Access_Layer_.CustomeModel.adminDashData;

<style>
    .iti {
        width: 100%;
    }

    .iti__country-list {
        z-index: 3 !important;
    }
</style>

<div class="modal fade" id="sendLinkPopUpOne" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="SendLinkLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 22%;">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5 text-white" id="SendLinkLabel">
                    Send Mail To Patient For Submitting Request
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="SendLinkForm" asp-action="SendAgreement">
                <input type="hidden" value="2" ></input>
                <div class="modal-body text-secondary">
                    <div class="form-floating mt-3">
                        <input type="text" class=" form-control" id="floatingInputFirst"
                               placeholder="First Name" aria-label="First Name" />
                        <label class=" text-secondary" for="floatingInputFirst">First Name</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input type="text" class=" form-control" id="floatingInputLast" placeholder="Last Name"
                               aria-label="Last Name" />
                        <label class=" text-secondary" for="floatingInputLast">Last Name</label>
                    </div>
                    <div class="form-floating mt-3">
                        <input  style="height:58px" id="phoneSendLink"
                               class=" form-control contact"
                               aria-label="Contact"
                               type="number" />
                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="@Model._sendLink.Email" type="email" class="form-control" id="sendLinkEmail" placeholder="Email"
                                aria-label="Email">
                        <label class="" for="floatingInputemail">Email</label>
                    </div>
                </div>
                <div class="m-3 d-flex justify-content-end">
                    <button onclick="sendLinkAjax()" type="button" class="btn btn-info confirm-btn text-white"
                            data-bs-dismiss="modal">
                        Send
                    </button>
                    <button id="sendLinkCancelBtn" type="button" class="btn cancel-btn border-info text-info ms-3"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var phoneInputSendLink = document.querySelector("#phoneSendLink");
    var phoneInputSendLinkOne = window.intlTelInput(phoneInputSendLink, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });


    function sendLinkAjax(){

        var formData = $("#SendLinkForm").serializeArray();
        console.log(formData);
        $.ajax({
            url: '/adminDashboard/sendLinkPopUp',
            type: 'POST',
            data: formData,
            success: function (result) {
                if (result.isSend == true) {
                    alert("Mail Was Sent");
                    $("#sendLinkCancelBtn").click();
                } else {
                    alert("Plz Enter Email");
                    $("#sendLinkCancelBtn").click();
                }
            },
            error: function () {
                alert("Error");
            },
        });
    }


    // Send an AJAX request
    $.ajax({
        type: 'POST',
        url: '/AdminDashboard/EncounterFormDatabase',
        data: formData,
        success: function (response) {
            // Handle the success response
            $("#container").html(response)
        },
        error: function (error) {
            // Handle the error response
            console.error(error);
        }
    });

</script>