/* _content/HelloDocMVC/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#backDiv[b-kbvnv9hzj2] {
    position: absolute;
    top: 19%;
    right: 20%;
}

.dark-mode[b-kbvnv9hzj2] {
    background-color: #333 !important;
    color: #fff;
}

label[b-kbvnv9hzj2] {
    color: black;
}
/* _content/HelloDocMVC/Views/Shared/_LayoutThree.cshtml.rz.scp.css */
.dark-mode[b-hnehwflsk8] {
    background-color: #333 !important;
    color: #fff;
}

label[b-hnehwflsk8] {
    color: black;
}
/* _content/HelloDocMVC/Views/Shared/_LayoutTwo.cshtml.rz.scp.css */
body[b-nfw7nv4ehx] {
}
#backDiv[b-nfw7nv4ehx] {
    position: absolute;
    top: 19%;
    right: 20%;
}

.dark-mode[b-nfw7nv4ehx] {
    background-color: #333 !important;
    color: #fff;
}

label[b-nfw7nv4ehx] {
    color: black;
}
