@model DAL_Data_Access_Layer_.DataModels.Admin

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Adminid" />
            <div class="form-group">
                <label asp-for="Aspnetuserid" class="control-label"></label>
                <select asp-for="Aspnetuserid" class="form-control" asp-items="ViewBag.Aspnetuserid"></select>
                <span asp-validation-for="Aspnetuserid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regionid" class="control-label"></label>
                <input asp-for="Regionid" class="form-control" />
                <span asp-validation-for="Regionid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altphone" class="control-label"></label>
                <input asp-for="Altphone" class="form-control" />
                <span asp-validation-for="Altphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createdby" class="control-label"></label>
                <select asp-for="Createdby" class="form-control" asp-items="ViewBag.Createdby"></select>
                <span asp-validation-for="Createdby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createddate" class="control-label"></label>
                <input asp-for="Createddate" class="form-control" />
                <span asp-validation-for="Createddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifiedby" class="control-label"></label>
                <select asp-for="Modifiedby" class="form-control" asp-items="ViewBag.Modifiedby"></select>
                <span asp-validation-for="Modifiedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifieddate" class="control-label"></label>
                <input asp-for="Modifieddate" class="form-control" />
                <span asp-validation-for="Modifieddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isdeleted" class="control-label"></label>
                <input asp-for="Isdeleted" class="form-control" />
                <span asp-validation-for="Isdeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roleid" class="control-label"></label>
                <input asp-for="Roleid" class="form-control" />
                <span asp-validation-for="Roleid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
